name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - run: go test -v -coverprofile=coverage.out ./api/...
      - uses: coverallsapp/github-action@v2
        with:
          file: coverage.out
